# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini
!DESCARGA-LINKELIND/*.pdf  # Permitir PDFs en esta carpeta

# Archivos temporales
*.tmp
*.bak
*.swp
*~

# Archivos de IDE/editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de configuración local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de registro
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de dependencias
/node_modules
/bower_components

# Archivos de compilación
/dist
/build
/out
/.next

# Permitir subir imágenes
!*.jpg
!*.png
